<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhyNsStreamWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WhyNsStreamWatcher.Properties.Settings>
            <setting name="TwitchUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="TrayOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOfflineStreams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamsAutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StreamsAutoUpdateInterval" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="ChannelNotificationIsLive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChannelNotificationIsLiveNow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChannelNotificationIsOfflineNow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationDisplayTime" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="NotificationScreenPosition" serializeAs="String">
                <value>BottomRight</value>
            </setting>
        </WhyNsStreamWatcher.Properties.Settings>
    </userSettings>
</configuration>